.git
.github
.husky
.vscode
node_modules
output
scripts
.dockerignore
.env
.env.example
.eslintcache
.gitattributes
.gitignore
.prettierrc
docker-compose.yaml
Dockerfile
eslint.config.js
LICENSE
*.md
logs
*.log
npm-debug.log*
.DS_Store
webpack.config.js